# AWS
AWS_ACCESS_KEY_ID = 'your_access_key_aws'
AWS_SECRET_ACCESS_KEY = 'your_secret_key_aws'
REGION_NAME = 'default_region_name_aws'

# Genius
CLIENT_ID = 'client_id_for_genius_api' # not necessary
CLIENT_SECRET = 'client_secret_for_genius_api' # not necessary
CLIENT_ACCESS_TOKEN = 'client_access_token_for_genius_api'